{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<ul class="book-objs sortable">
    {% for object in object_list %}
    <li data-pk='{{ object.id }}' id="item_{{ object.id }}" class="book-obj">
        <h3>{{ object.title }} position:{{ object.pk }}</h3>
    </li>
    {% endfor %}
</ul>

<script src="{% static 'js/index.js' %}"></script>
{% endblock %}